<%= form_for(@signature) do |f| %>
  <% if @signature.errors.any? %>
    <% @signature.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Full Name', class: 'name' %>
  </div>

  <div class="field">
    <div class="sig sigWrapper">
      <canvas class="pad" width="650" height="150"></canvas>
      <%= f.hidden_field :signature, class: "output" %>
    </div>
  </div>

  <div class="actions">
    <a href="#clear" class="clearButton">Clear Signature</a>
    <%= f.submit value: "Confirm Signature", class: "button" %>
  </div>
<% end %>
