<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @signature.name %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @signature.signature %>
</p>

<%= link_to 'Edit', edit_signature_path(@signature) %> |
<%= link_to 'Back', signatures_path %>
