<!DOCTYPE html>
<html>
  <head>
    <title>Shomei</title>

    <link rel="apple-touch-icon" href="<%= image_path 'touch-icon-iphone.png' %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'touch-icon-ipad.png' %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'touch-icon-iphone-retina.png' %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'touch-icon-ipad-retina.png' %>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="//use.typekit.net/tds8ucl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <div class="wrapper">
      <h1 class="logo">Shomei</h1>

      <%= yield %>
    </div>
  </body>
</html>
